.auth-form {
  display: flex;
  flex-direction: column;
}

.error-message {
  padding: 10px 0;
  background-color: rgb(255, 218, 218);
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px auto;
  font-weight: 300;
}

.loading-bar {
  text-align: center;
}
