<p>This is practice page. You can practice your code on this page</p>

<div class="practice-section">
  <div class="select-all">
    <input type="checkbox" name="select-all" (change)="onSelectAll($event)" />
    <label for="">Select All</label>
  </div>

  <form #checkboxForm="ngForm" (ngSubmit)="onSubmit(checkboxForm)">
    <div class="input-box" *ngFor="let option of options">
      <input
        ngModel
        type="checkbox"
        value="{{ option }}"
        name="{{ option }}"
        (change)="onCheckboxChange($event)"
        [(ngModel)]="isSelectAll"
      />
      <label for="{{ option }}">{{ option }} </label>
    </div>

    <button>Submit</button>
  </form>

  <div class="selected-list">
    You have selected
    <hr />
    <div class="list" *ngFor="let item of selectedOptions">
      {{ item }}
    </div>
  </div>
</div>
