<nav class="navbar navbar-expand-lg bg-light main-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Contact App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="nav-active"
            aria-current="page"
            routerLink="register"
            >AddNewUser</a
          >
        </li>
      </ul>

      <input
        class="form-control me-2"
        #search
        type="search"
        placeholder="Search"
        aria-label="Search"
        style="max-width: 300px"
        (keyup)="handleChange(search.value)"
      />
    </div>
  </div>
</nav>
