<div class="header-section">
  <div class="hero-section">
    <p class="title">
      Award-winning Government-recognized premium Bangla learning solution
      worldwide!
    </p>

    <a href="" class="hero-button"
      >Watch how we teach <mat-icon class="watch-icon">play_circle</mat-icon></a
    >

    <!-- <p class="gradient-border">Hello kakon</p> -->
  </div>

  <div class="free-trial-info">
    <p class="title">One to one live class</p>
    <p class="subtitle">Provide service 20+ countries</p>
    <p class="rating">Average 9.5 user rating</p>
    <div class="cta-list">
      <a href="" mat-raised-button color="accent">Get free trial</a>
      <a href="" mat-raised-button color="accent" class="ml-5">See Reviews</a>
    </div>
  </div>
</div>
