<p>Reactive-form</p>

<div class="form-value">Value: {{ kakonForm.value | json }}</div>

<div class="reactive-form">
  <form [formGroup]="kakonForm" (ngSubmit)="onSubmit()">
    <div class="input-list">
      <div class="single-input">
        <input type="text" placeholder="name" formControlName="name" />
      </div>

      <div class="single-input">
        <input type="text" placeholder="age" formControlName="age" />
      </div>

      <!-- Nested form group  -->

      <div formGroupName="address">
        <input type="text" formControlName="thana" placeholder="thana" />
        <input type="text" formControlName="district" placeholder="district" />
      </div>

      <!-- Adding a single form control as a formArray -->

      <div formArrayName="hobbies">
        <div *ngFor="let hobby of hobbiesArray.controls; index as i">
          <input
            type="text"
            formControlName="{{ i }}"
            placeholder="Add new hobby"
          />
        </div>

        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="onAddNewHobby()"
        >
          Add hobby
        </button>
      </div>

      <!-- Adding dynamic formGroup as a formArray -->

      <div formArrayName="skills">
        <div
          *ngFor="let skill of skillsArray.controls; index as i"
          formGroupName="{{ i }}"
        >
          <input
            type="text"
            formControlName="title"
            placeholder="skill title"
          />
          <input
            type="text"
            formControlName="level"
            placeholder="level of competency out of 5"
          />
        </div>
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="onAddNewSkill()"
        >
          Add new skill
        </button>
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
