<h4 class="text-center fw-light">Blood Request Form</h4>

<form [formGroup]="bloodRequestForm" (ngSubmit)="handleBloodRequestSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="email" class="form-control" formControlName="name" />
  </div>

  <div class="form-group">
    <label>Mobile</label>
    <input type="text" class="form-control" formControlName="mobile" />
  </div>

  <div class="form-group">
    <label>Address</label>
    <input
      type="email"
      class="form-control"
      formControlName="address"
      required
    />
  </div>

  <div class="form-group my-3">
    <label>Blood Group</label>
    <select class="form-select" formControlName="bloodGroup" required>
      <label>Blood Group</label>
      <option>Select Blood Group</option>
      <option value="A(+)ve">A+</option>
      <option value="B(+)ve">B+</option>
      <option value="O(+)ve">O+</option>
      <option value="AB(+)ve">AB+</option>
      <option value="A(-)ve">A-</option>
      <option value="B(-)ve">B-</option>
      <option value="O(-)ve">O-</option>
      <option value="AB(-)ve">AB-</option>
    </select>
  </div>

  <br />

  <button type="submit" class="{{ submitButtonClassName }}">
    {{ submitButtonText }}
  </button>
</form>
