<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-raised-button color="accent" routerLink="home">Home</button>
  <span class="nav-spacer"></span>
  <button mat-raised-button color="accent" routerLink="practice">
    Select all
  </button>
  <button mat-raised-button color="accent" routerLink="quiz" class="ml-5">
    Quiz
  </button>

  <button
    mat-raised-button
    color="accent"
    routerLink="reactiveForm"
    class="ml-5"
  >
    Reactive form
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
