.text {
  background-color: rgb(255, 211, 211);
  text-align: center;
  padding: 20px;
}

.component-list {
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  height: 300px;
  width: 40%;
  background-color: antiquewhite;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
