<div class="app-body">
  <div class="navigation-section">
    <app-navigation></app-navigation>
    <div class="login-buttons">
      <button
        class="btn btn-primary"
        *ngIf="!isLoggedIn"
        (click)="handleLoginClick()"
      >
        login
      </button>
      <button
        class="btn btn-success mx-2"
        *ngIf="isLoggedIn"
        (click)="handleLogoutClick()"
      >
        logout
      </button>
    </div>
  </div>

  <div class="content-section">
    <router-outlet></router-outlet>
  </div>
</div>
