<app-navbar></app-navbar>

<form class="container registration-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Roll</label>
    <input type="text" class="form-control" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Department</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Select Department</option>
      <option value="CSE">CSE</option>
      <option value="EEE">EEE</option>
      <option value="ICE">ICE</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Mobile</label>
    <input type="text" class="form-control" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
