<form
  class="container registration-form"
  #registrationForm="ngForm"
  (ngSubmit)="handleSubmit(registrationForm.value)"
>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input ngModel type="text" class="form-control" name="name" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Roll</label>
    <input ngModel type="text" class="form-control" name="roll" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Department</label>
    <select
      ngModel
      class="form-select"
      name="dept"
      aria-label="Default select example"
    >
      <option selected>Select Department</option>
      <option value="CSE">CSE</option>
      <option value="EEE">EEE</option>
      <option value="ICE">ICE</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Mobile</label>
    <input ngModel type="text" class="form-control" name="mobile" />
    <div id="emailHelp" class="form-text"></div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
