<table class="table table-striped table-hover info-list table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Roll</th>
      <th scope="col">Department</th>
      <th scope="col">Mobile</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of deptData">
      <td>{{ student.name }}</td>
      <td>{{ student.roll }}</td>
      <td>{{ student.dept }}</td>
      <td>{{ student.mobile }}</td>
      <td class="action-items">
        <a routerLink="/profile/{{ student.id }}" class="btn btn-success"
          >Details</a
        >
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Edit
        </button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="container registration-form">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" />
            <div id="emailHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Roll</label>
            <input type="text" class="form-control" />
            <div id="emailHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Department</label
            >
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Department</option>
              <option value="CSE">CSE</option>
              <option value="EEE">EEE</option>
              <option value="ICE">ICE</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mobile</label>
            <input type="text" class="form-control" />
            <div id="emailHelp" class="form-text"></div>
          </div>

          <button type="submit" class="btn btn-primary float-end">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
