.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5px;
}

.post-item {
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 5px;
}

.single-post {
  padding: 10px;
  margin: 5px;
}

.loading-spinner {
  text-align: center;
}
