<h1 class="page-heading title">Get Free Classes</h1>

<div class="container">
  <mat-stepper #stepper>
    <mat-step [stepControl]="freeClassFormGroup" color="accent">
      <form [formGroup]="freeClassFormGroup">
        <ng-template matStepLabel>Parent Information</ng-template>
        <div class="free-class-form-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Parent Name</mat-label>
            <input matInput formControlName="parentName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              formControlName="parentEmail"
              type="email"
              ngModel
              email
            />
            <mat-error *ngIf="emailError">
              {{ emailError }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="freeClassFormGroup"
      label="Child Information"
      color="accent"
    >
      <form [formGroup]="freeClassFormGroup">
        <div class="free-class-form-inputs">
          <mat-form-field appearance="fill">
            <mat-label>Your child name</mat-label>
            <input matInput formControlName="childName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Your child age</mat-label>
            <input matInput formControlName="childAge" required />
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext class="ml-5">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="freeClassFormGroup"
      label="Pick Date"
      color="accent"
    >
      <form [formGroup]="freeClassFormGroup">
        <div class="free-class-form-inputs">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker"
              formControlName="classDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <input
              matInput
              formControlName="classTime"
              placeholder="Ex. 08:30 am"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button
            mat-raised-button
            color="accent"
            matStepperNext
            class="ml-5"
            (click)="showInputData()"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step color="accent">
      <ng-template matStepLabel>Finish</ng-template>
      <p>
        You are now done. Please click the
        <strong>confirm Free Class</strong> button to confirm your free class
        slot.
      </p>

      <div class="input-list">
        <p class="form-inputed-value">
          <strong>Parent Name : </strong> {{ formInputedValue.parentName }}
        </p>

        <p class="form-inputed-value">
          <strong>Parent Email : </strong> {{ formInputedValue.parentEmail }}
        </p>

        <p class="form-inputed-value">
          <strong>Child Name : </strong> {{ formInputedValue.childName }}
        </p>

        <p class="form-inputed-value">
          <strong>Child Age : </strong> {{ formInputedValue.childAge }}
        </p>

        <p class="form-inputed-value">
          <strong>Class Date : </strong> {{ formInputedValue.classDate }}
        </p>

        <p class="form-inputed-value">
          <strong>Class Time : </strong> {{ formInputedValue.classTime }}
        </p>
      </div>

      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          color="{{ submitButtonColor }}"
          (click)="handleSubmit($event)"
          class="ml-5"
        >
          {{ submitButtonText }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
