.title {
  margin-top: 30px !important;
}
.free-class-form {
  display: flex;
  flex-direction: column;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.free-class-form-inputs {
  display: flex;
  flex-direction: column;
}

.input-list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.form-inputed-value {
  background-color: aliceblue;
  padding: 10px 0;
  border-radius: 5px;
  margin: 5px 0;
}

@media (max-width: 641px) {
  .container {
    width: 100%;
  }
}
