<nav class="nav flex-column nav-pills">
  <a
    routerLink="/"
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a
    routerLink="/donorList"
    class="nav-link"
    routerLinkActive="active"
    *ngIf="isLoggedIn"
    >Donor List</a
  >
  <a routerLink="/addDonor" class="nav-link" routerLinkActive="active"
    >Add Donor</a
  >

  <a
    routerLink="/viewBloodRequest"
    class="nav-link"
    routerLinkActive="active"
    *ngIf="isLoggedIn"
    >Blood Requests</a
  >

  <div class="login-buttons">
    <button
      class="btn btn-primary"
      *ngIf="!isLoggedIn"
      (click)="handleLoginClick()"
    >
      login
    </button>
    <button
      class="btn btn-success"
      *ngIf="isLoggedIn"
      (click)="handleLogoutClick()"
    >
      logout
    </button>
  </div>
</nav>
