/* You can add global styles to this file, and also import other style files */

button {
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}
