<h2 mat-dialog-title class="title">How Amar Vasha teach?</h2>
<mat-dialog-content class="mat-typography">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_g6FzkPwsM4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>
