<h2 mat-dialog-title class="title">How Amar Vasha teach?</h2>

<div class="hero-popup-box">
  <mat-dialog-content class="mat-typography popup">
    <iframe
      src="https://www.youtube.com/embed/_g6FzkPwsM4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">
      Close
    </button>
  </mat-dialog-actions>
</div>
