<h4 class="text-center fw-light">Welcome to Blood Donors App</h4>

<div class="home-container my-4">
  <div class="total-donar-section card homecard">
    <h4>Total Donors : 50</h4>
    <a routerLink="donorList">Donor List</a>
  </div>
  <div class="blood-request card homecard">
    <h4>Need Blood?</h4>
    <a routerLink="bloodRequest">Request for Blood</a>
  </div>
  <div class="donor-list card homecard">
    <h4>Want to Join Us?</h4>
    <a routerLink="addDonor">Register Now</a>
  </div>
  <div class="show-members card homecard">
    <h4>Emergency Contact</h4>
    <a routerLink="management">Contact Management</a>
  </div>
</div>
