.example-spacer {
  flex: 1 1 auto;
}

.navigation {
  background-color: #2a3544;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo-section {
  max-height: 90px;
  max-width: 90px;
}

.nav-logo {
  height: 100%;
  width: 100%;
}
