<div class="quiz-section">
  <input type="text" placeholder="Question?" class="option question" />

  <div class="option-list">
    <div class="option-box">
      <input type="checkbox" checked class="checkbox" />
      <input type="text" class="option" placeholder="Option A" />
    </div>

    <div class="option-box">
      <input type="checkbox" class="checkbox" />
      <input type="text" class="option" placeholder="Option B" />
    </div>

    <div class="option-box">
      <input type="checkbox" class="checkbox" />
      <input type="text" class="option" placeholder="Option C" />
    </div>

    <div class="option-box">
      <input type="checkbox" class="checkbox" />
      <input type="text" class="option" placeholder="Option D" />
    </div>
  </div>

  <input type="text" placeholder="Details" class="option details" />
</div>
