.filter-by-group {
  width: 100%;
  display: flex;
  background: rgb(238, 234, 234);
  border-radius: 10px;
}

.select-input {
  width: 250px;
  padding: 8px;
  border: 0;
  background: rgb(238, 234, 234);
  border-radius: 10px;
}

.filter-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10px;
  border-radius: 10px;
}
