<h4 class="text-center fw-light">Blood Requests</h4>

<table class="table table-hover table-striped table-bordered my-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Mobile Number</th>
      <th scope="col" class="go-center">Action List</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of currentBloodRequests">
      <td>{{ user.name }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.mobile }}</td>
      <td>{{ user.bloodGroup }}</td>
      <td class="go-center">
        <button
          class="btn btn-danger btn-sm"
          (click)="handleDeleteClick(user.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
